.item{
    width: 100vw;
    height: 50vh;
}
.item .caption-bg{
    background:linear-gradient(rgba(179, 96, 147, 0.685), transparent);
    width: 35vw;
    background-position: center;
    margin: auto;
    padding: 5px;
}

.item .img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}


.item .img1{
    background-image: url("https://i0.wp.com/i.giphy.com/media/zgduo4kWRRDVK/giphy-downsized.gif?w=770&ssl=1");
    
}
.item .img2{
    background-image: url("https://www.mit.edu/files/images/202211/MIT-Neural-Networks-SL.gif");
    
}
.item .img3{
    background-image: url("https://scitechdaily.com/images/Brain-Energy.gif");
    
}

.carousel-control-prev-icon {
	background-image: url("") !important;
}
.carousel-control-next-icon {
	background-image: url("") !important;
    
}
